@page
@model ASassignment.Pages.error._403Model
@{
    ViewData["title"] = "Page does not exists";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px; ">Access Denied.</p>
    <p>You do not have access to this page.</p>
    <p>Please navigate back to <a href="/">Home Page</a></p>
</div>